<?xml version="1.0" encoding="UTF-8"?>
<robot name="dpr4_description" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="dpr4" params="name">
  <xacro:include filename="$(find dpr4_description)/urdf/front_wheel.urdf.xacro" />
  <xacro:include filename="$(find dpr4_description)/urdf/back_wheel.urdf.xacro" />
  <xacro:include filename="$(find dpr4_description)/urdf/yoke.urdf.xacro"/>

  <!-- Colors -->
  <gazebo reference="front_wheel_left_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="front_wheel_right_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="yoke_left_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="yoke_right_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="back_wheel_right_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="back_wheel_left_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Links -->
  <!-- Main part of the base. -->
  <link name="${name}">
    <inertial>
      <origin xyz="-0.23146 0 0.14798" rpy="0 0 0" />
      <mass value="12.0" />
      <inertia iyy="0.3625" ixy="0" ixz="0" ixx="0.1625" iyz="0" izz="0.52" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57" />
      <geometry>
        <mesh filename="package://dpr4_description/meshes/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.57" />
      <geometry>
        <mesh filename="package://dpr4_description/meshes/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <!-- The big wheels on front, used to move the robot -->
  <xacro:front_wheel parent="${name}" name="front_wheel_left">
    <origin xyz="-0.084 -0.272 0.145" rpy="0 0 -1.57" />
  </xacro:front_wheel>
  <xacro:front_wheel parent="${name}" name="front_wheel_right">
    <origin xyz="-0.084 0.272 0.145" rpy="0 0 -1.57" />
  </xacro:front_wheel>
  <!-- The parts connecting the back wheel to the base -->
  <xacro:yoke parent="${name}" name="yoke_left" >
    <origin xyz="-0.532 -0.183 0.182" rpy="0 0 -1.57" />
  </xacro:yoke>
  <xacro:yoke parent="${name}" name="yoke_right" >
    <origin xyz="-0.532 0.183 0.182" rpy="0 0 -1.57" />
  </xacro:yoke>
  <!-- The small wheels on the back -->
  <xacro:back_wheel parent="yoke_left_link" name="back_wheel_left" >
    <origin xyz="0 0.04025 -0.105" rpy="0 0 0" />
  </xacro:back_wheel>
  <xacro:back_wheel parent="yoke_right_link" name="back_wheel_right" >
    <origin xyz="0 0.04025 -0.105" rpy="0 0 0" />
  </xacro:back_wheel>

</xacro:macro>
</robot>
