<?xml version="1.0" encoding="UTF-8"?>
<robot name="dpr4_description" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find dpr4_description)/urdf/front_wheel.urdf.xacro" />
  <xacro:include filename="$(find dpr4_description)/urdf/back_wheel.urdf.xacro" />
  <xacro:include filename="$(find dpr4_description)/urdf/yoke.urdf.xacro"/>

  <!-- Colors -->
  <gazebo reference="front_wheel_left">
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="front_wheel_right">
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="yoke_left">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="yoke_right">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="back_wheel_right">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="back_wheel_left">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Links -->
  <!-- Main part of the base. -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0.23146 0.14798" rpy="0 0 0" />
      <mass value="12.0" />
      <inertia ixx="0.3625" ixy="0" ixz="0" iyy="0.1625" iyz="0" izz="0.52" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dpr4_description/meshes/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dpr4_description/meshes/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <!-- The big wheels on front, used to move the robot -->
  <xacro:front_wheel parent="base_link" name="front_wheel_left" x_loc="-0.272" y_loc="0.084" z_loc="0.145"/>
  <xacro:front_wheel parent="base_link" name="front_wheel_right" x_loc="0.272" y_loc="0.084" z_loc="0.145"/>
  <!-- The parts connecting the back wheel to the base -->
  <xacro:yoke parent="base_link" name="yoke_left" x_loc="-0.183" y_loc="0.532" z_loc="0.182"/>
  <xacro:yoke parent="base_link" name="yoke_right" x_loc="0.183" y_loc="0.532" z_loc="0.182"/>
  <!-- The small wheels on the back -->
  <xacro:back_wheel parent="yoke_left_link" name="back_wheel_left" x_loc="0" y_loc="0.04025" z_loc="-0.105"/>
  <xacro:back_wheel parent="yoke_right_link" name="back_wheel_right" x_loc="0" y_loc="0.04025" z_loc="-0.105"/>

  <!-- The joints -->
</robot>
